.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


#root {
  height: 100vh;
}

.iss-container {
  width: 100%;
  height: calc(100vh - 64px);
  top: 64px;
  bottom: 0;
  position: fixed;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

